* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.logo {
    height: 40px;
}

.seal {
    height: 40px;
}

.menu {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    width: 100%;
}

/* 메뉴 버튼 (모바일) */
.menu-button {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

/* 레이아웃 */
.container {
    display: flex;
    flex: 1;
}
.scroll-wrapper {
    display: flex;
    flex: 1;
    height: 100vh;
    overflow-y: auto; /* 전체를 스크롤 가능하게 설정 */
    margin-bottom: 100px;
}
/* 사이드바 */
.sidebar {
    width: 15%;
    background-color: #f8f8f8;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.menu h2 {
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
}

.menu-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    text-decoration: none;  /* 밑줄 제거 */
    color: inherit;  /* 기본 텍스트 색상 유지 */
}

.menu-item:visited {
    color: inherit;  /* 방문 후 색상 유지 */
}

.menu-item:hover {
    text-decoration: underline; /* 호버 시에도 밑줄 없음 */
}

.arrow {
    transition: transform 0.3s;
}

.submenu {
    list-style: none;
    padding-left: 10px;
    margin-bottom: 20px;
    display: none;
}

.submenu li {
    font-size: 16px;
    margin: 5px 0;
    list-style: none;
}
.submenu li a {
    text-decoration: none;
    color: rgb(0, 0, 52);
}
.submenu li a:hover{
    color: gray;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        background: #f8f8f8;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .menu-button {
        display: block;
    }
}

.text-container {
    width: 50%;
    padding: 20px;
    background-color: white;
    text-align: center;
}

.image-container {
    width: 50%;
    margin-left: 2%;
    background-color: #f5f5f5;
}

.image-container::-webkit-scrollbar {
    display: none;
}

.image-container img {
    width: 100%;
    display: block;
}

.button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: gray;
}
.original-price {
    text-decoration: line-through;
    color: red;
    font-weight: bold;
}

.discounted-price {
    color: black;
    font-weight: bold;
}


